body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF

tr.s0
  background-color: lavender

tr.s1
  background-color: palegreen

tr.s2
  background-color: lightskyblue

tr.s3
  background-color: yellow

tr.s4
  background-color: red
